body {
    background-image: linear-gradient(to left, red, aqua);
    height: 100vh;
}

.fundoCalculadora {
    max-height: 70vh;
    min-height: 60vh;
    background-color: rgb(129, 129, 129);
    border-radius: 10px;
    margin: 50px auto;
    box-shadow: 0 0 10px rgba(0,0,0,0.3);
}

.btn{
    background-color: white;
    color: black;
    width: 50px;
}

