body {
    background: linear-gradient(135deg, #1e3c72, #2a5298);
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    font-family: 'Roboto Mono', monospace;
}


.fundoCalculadora {
    background: rgba(255, 255, 255, 0.25);
    backdrop-filter: blur(10px);
    border: 1px solid rgba(255, 255, 255, 0.3);
    border-radius: 20px;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.3);
}


.btn {
    width: 60px;
    height: 60px;
    margin: 5px;
    font-size: 1.2rem;
    border-radius: 50%;
    border: none;
    transition: 0.2s;
    color: black;
}

.btn:hover {
    transform: scale(1.05);
    background-color: #3f51b5;
    color: white;
}

#botaoCalcular {
    background-color: #00c853;
    color: white;
}

#btnLimpar {
    background-color: #d32f2f;
    color: white;
}

#operacoesRealizadas {
    font-size: 1rem;
    color: #fff;
    max-height: 200px;
    overflow-y: auto;
}

.modal-content {
    background-color: rgba(0, 0, 0, 0.8);
    color: #fff;
    border-radius: 15px;
}

#consultarHistorico{
    border-radius: 20px;
    background-color: rgba(255, 255, 255, 0.25);
    border: 1px solid rgba(255, 255, 255, 0.3);
}

#consultarHistorico:hover{
    transform: scale(1.05);
    background-color: #3f51b5;
    color: white;
}

.btn-modal{
    border-radius: 20px;
    background-color: rgba(255, 255, 255, 0.25);
    border: 1px solid rgba(255, 255, 255, 0.3);
}

.btn-modal:hover{
    background-color: #3f51b5;
    color: white;
}

